@mixin linea {
  content: "";
  position: absolute;
  left: 50%;
  width: 50%;
  height: 4px;
  background: linear-gradient(90deg, #ff6600, #ffcc00);
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
  border-radius: 2px;
}

@mixin hover-linea {
  width: 100%;
  background: linear-gradient(90deg, #ff6600, #ffcc00);
}

@mixin hover-btn {
  background-color: darken(#f8f9fa, 15%);
  color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

@mixin active-btn {
  &:active {
    transform: translateY(1px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  }
}

@mixin caja-sombras($color: #ffff) {
  box-shadow: 0 0 10px $color;
}
